[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
drf-nested-routers = "*"
django-tailwind = "*"
celery = "*"
redis = "*"
gunicorn = "*"
django-environ = "*"
sentry-sdk = "*"
whitenoise = "*"
psycopg2 = "*"

[dev-packages]
ipython = "*"
pre-commit = "*"
black = "*"
isort = "*"
flake8 = "*"
coverage = "*"
selenium = "*"
tblib = "*"

[requires]
python_version = "3.10"
