{% extends "base.html" %}

{% block content_body %}

<div class="flex justify-center items-center">
  <div class="sm:w-96 w-full px-3">
    <h1 class="text-4xl p-2 font-black mb-12">Todo manager</h1>
    <h3 class="text-xl p-3 mb-4">Login</h3>
    <form class="p-3" action="" method="post">
      {% csrf_token %}

      <div class="grid gap-6 ">
        <div class="col-span-12">
          <label for="id_username">Username</label>
          {{ form.username }}
          <span class="form-error">
            {{ form.username.errors.as_text }}
          </span>
        </div>

        <div class="col-span-12">
          <label for="id_password">Password</label>
          {{ form.password }}
          <span class="form-error">
            {{ form.password.errors.as_text }}
          </span>
        </div>
        <span class="form-error">
          {% for error in form.non_field_errors %}
          <p class="p-4"> {{ error }} </p>
          {% endfor %}
        </span>

        <div class="col-span-12">
          <button type="submit" class="btn-primary">Login</button>
        </div>
        <p class="col-span-12 text-center"><a href="{% url 'signup' %}" class="btn">Don't have an account? Signup.</a></p>
      </div>
    </form>
  </div>
</div>

{% endblock content_body %}
