{% extends "base.html" %}

{% block content_body %}

<div class="flex h-screen justify-center items-center">
    <div class="sm:w-96 w-full px-3">
        <h1 class="text-4xl p-2 font-black mb-12">Todo manager</h1>
        <h3 class="text-xl p-3 mb-4">Signup</h3>
        <form class="p-3" action="" method="post">
            {% csrf_token %}

            <div class="grid gap-6 ">
                <div class="col-span-12">
                    <label for="id_username">Username</label>
                    <input type="text" name="username" id="id_username" autocomplete="username"
                        class="mt-1 focus:ring-red-300 focus:ring-4 focus:border-red-300 w-full shadow-sm sm:text-sm border-gray-300 rounded-lg"
                        required autofocus>
                    <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                        {{ form.username.errors.as_text }}
                    </span>
                    <span class="mt-1 text-xs text-gray-600">Required. 150 characters or fewer. Letters, digits and
                        @/./+/-/_ only.</span>

                </div>

                <div class="col-span-12">
                    <label for="id_password1">Password</label>
                    <input type="password" name="password1" autocomplete="current-password" id="id_password1" required
                        class="mt-1 focus:ring-red-300 focus:ring-4 focus:border-red-300 w-full shadow-sm sm:text-sm border-gray-300 rounded-lg">
                    <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                        {{ form.password1.errors.as_text }}
                    </span>
                    <span class="text-xs text-gray-600">
                        <ul class="mt-1 ml-3 list-disc">
                            <li>Your password can't be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be a commonly used password.</li>
                            <li>Your password can't be entirely numeric.</li>
                        </ul>
                    </span>

                </div>

                <div class="col-span-12">
                    <label for="id_password2">Confirm Password</label>
                    <input type="password" name="password2" autocomplete="current-password" id="id_password2" required
                        class="mt-1 focus:ring-red-300 focus:ring-4 focus:border-red-300 w-full shadow-sm sm:text-sm border-gray-300 rounded-lg">
                    <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                        {{ form.password2.errors.as_text }}
                    </span>

                    <span class="mt-1 text-xs text-gray-600">Enter the same password as before, for verification.</span>
                </div>

                <div class="col-span-12">
                    <button type="submit"
                        class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 rounded-lg px-5 py-2.5 w-full text-center">Signup</button>
                </div>
            </div>
            <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                {% for error in form.non_field_errors %}
                <p class="p-4"> {{ error }} </p>
                {% endfor %}
            </span>
        </form>
    </div>
</div>

{% endblock content_body %}