<h1>Tasks Management Application</h1>

<form action="/add-task" method="get">
    <input type="text" name="task">
    <button type="submit">Add Task</button>
</form>

<h1>Tasks</h1>
{% for task in tasks %}
    <div>
        {{forloop.counter}} . {{ task }} 
        <a href="/delete-task/{{ forloop.counter }}">delete task</a>
        <a href="/complete_task/{{ forloop.counter }}">complete task</a>
    </div>
{% endfor %}

<h1>Completed Tasks</h1>

{% for task in completed_tasks %}
    <div>
        {{ task }}
    </div>
{% endfor %}