{% extends "base.html" %}


{% block content_body %}


<form method="post">
  <div class="flex flex-col h-screen items-center">
    <div class="sm:w-96 w-full px-3">
      <div class="flex items-center mb-4 mt-10 content-center">
        <h1 class="text-4xl font-black ">
          {% if form.instance.id %}
          Update Todo
          {% else %}
          Create Todo
          {% endif %}
        </h1>
      </div>

      {% csrf_token %}
      <div class="mt-16 grid gap-6 ">
        {% for field in form %}
        <div>
          {{ field.label_tag }}
          {{ field }}
          <span class="form-error">{{ field.errors.as_text }}</span>
        </div>
        {% endfor %}
      </div>
      {% for error in form.non_field_errors %}
      <p class="p-4"> {{ error }} </p>
      {% endfor %}
    </div>
    <div class="sm:w-96 w-full px-3 mt-auto mb-10 ">
      <button class="btn-primary" type="submit">Save</button>
    </div>
  </div>
</form>
{% endblock %}
