{% extends "base.html" %}

{% block content_body %}
<form method="post">
  <div class="flex flex-col h-screen items-center">
    <div class="sm:w-96 w-full px-3">
      <div class="flex items-center mb-4 mt-10 content-center">
        <h1 class="text-4xl font-black ">Hi, {{ request.user.username }}</h1>
        <a class="ml-auto text-red-500 font-medium" href="{% url 'logout' %}"> Log out</a>
      </div>
      <div class="mt-16">
        {% csrf_token %}
        <input type="hidden" name="confirm_delete" value="confirm_delete">
        <p>
          Are you sure you want to delete this task?
        </p>
        <br>
        <strong>{{ object }}</strong>
        {{ form.errors }}
      </div>

    </div>
    <div class="sm:w-96 w-full px-3 mt-auto mb-10 ">
      <button
        class="block w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 rounded-lg px-5 py-3 text-center"
        type="submit">Confirm Delete</button>
    </div>
  </div>
</form>

{% endblock content_body %}