{% extends "base.html" %}


{% block content_body %}
<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow container-fixed container-fixed-md mt-0 mt-sm-4">
    {% if form.instance.id %}
      <h1>Update Todo</h1>
    {% else %}
      <h1>Create Todo</h1>
    {% endif %}
    <form class="p-3" action="" method="post">
      {% csrf_token %}
      
      {{ form.as_p }}
      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary ">
          <i class="fa fa-save"></i> &nbsp; SAVE
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
