{% extends "base.html" %}

{% block content_body %}

<div class="flex flex-col h-screen items-center">

  <div class="sm:w-96 w-full px-3">
    <div class="flex items-center mb-4 mt-10 content-center">
      <h1 class="text-4xl font-black ">Hi, {{ request.user.username }}</h1>
      <a href="{% url 'user-settings' %}" class="block p-2 ">
        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
          class="hover:rotate-180 transition ease-out duration-500">
          <path fill="#000"
            d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z">
          </path>
        </svg>
      </a>
      <a class="ml-auto text-red-500 font-medium px-6 py-1.5 rounded-full hover:bg-red-100 transition duration-500"
        href="{% url 'logout' %}"> Log out</a>
    </div>
    <h4 class="text-gray-600 text-sm">
      {% if filtered_status == "all" %}
      {{ total_tasks }} task{{ total_tasks|pluralize }}
      {% else %}
      {{ filtered_tasks }} of {{ total_tasks }} task{{ total_tasks|pluralize }} {{ filtered_status }}
      {% endif %}
    </h4>

    <div class="flex flex-wrap gap-1 my-3 mx-1 justify-evenly font-semibold">
      <a class="px-6 py-1.5 rounded-full hover:bg-red-100 transition duration-500" id="tab_all"
        href="{% url 'tasks-list' %}">All</a>
      <a class="px-6 py-1.5 rounded-full hover:bg-red-100 transition duration-500" id="tab_pending"
        href="{% url 'tasks-list' %}?status=PENDING">Pending</a>
      <a class="px-6 py-1.5 rounded-full hover:bg-red-100 transition duration-500" id="tab_in_progress"
        href="{% url 'tasks-list' %}?status=IN_PROGRESS">In Progress</a>
      <a class="px-6 py-1.5 rounded-full hover:bg-red-100 transition duration-500" id="tab_cancelled"
        href="{% url 'tasks-list' %}?status=CANCELLED">Cancelled</a>
      <a class="px-6 py-1.5 rounded-full hover:bg-red-100 transition duration-500" id="tab_completed"
        href="{% url 'tasks-list' %}?status=COMPLETED">Completed</a>
    </div>
  </div>

  <div class="sm:w-96 w-full px-3 overflow-y-auto h-[70vh]">
    <div class="grid gap-3 mb-4 ">
      {% for task in tasks %}
      <div class="flex items-center card bg-pgray rounded-[16px] py-4 px-6">
        <h1 class="block text-4xl text-gray-600 mr-2">
          {{ task.priority }}
        </h1>
        <div class="grid">
          <div class="text-lg text-black {{ task.completed|yesno:' text-red-600 line-through , text-black ' }}">
            <a href="{% url 'tasks-detail' task.id %}">
              {{ task.title }}
            </a>
          </div>
          <div class="text-gray-600 text-sm">
            {{ task.created_at }}
          </div>
        </div>
        <a class="ml-auto" href="{% url 'tasks-update' task.id %}">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="8" fill="#2DD4BF" />
            <path
              d="M24.1667 12.5C24.3856 12.2811 24.6455 12.1075 24.9314 11.9891C25.2174 11.8706 25.5239 11.8096 25.8334 11.8096C26.1429 11.8096 26.4494 11.8706 26.7354 11.9891C27.0214 12.1075 27.2812 12.2811 27.5001 12.5C27.719 12.7189 27.8926 12.9787 28.011 13.2647C28.1295 13.5506 28.1904 13.8571 28.1904 14.1667C28.1904 14.4762 28.1295 14.7827 28.011 15.0687C27.8926 15.3546 27.719 15.6145 27.5001 15.8333L16.2501 27.0833L11.6667 28.3333L12.9167 23.75L24.1667 12.5Z"
              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
        <a class="ml-2" href="{% url 'tasks-delete' task.id %}">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="8" fill="#F43F5E" />
            <path d="M12.5 15H14.1667H27.5" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path
              d="M16.6667 15V13.3333C16.6667 12.8913 16.8423 12.4674 17.1549 12.1548C17.4675 11.8423 17.8914 11.6667 18.3334 11.6667H21.6667C22.1088 11.6667 22.5327 11.8423 22.8453 12.1548C23.1578 12.4674 23.3334 12.8913 23.3334 13.3333V15M25.8334 15V26.6667C25.8334 27.1087 25.6578 27.5326 25.3453 27.8452C25.0327 28.1577 24.6088 28.3333 24.1667 28.3333H15.8334C15.3914 28.3333 14.9675 28.1577 14.6549 27.8452C14.3423 27.5326 14.1667 27.1087 14.1667 26.6667V15H25.8334Z"
              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
  <div class="sm:w-96 w-full px-3 pt-2 mt-auto">
    {% include 'base_paginator.html' %}
    <a class="btn-primary mt-4 mb-10 " href="{% url 'tasks-create' %}">Add Task</a>
  </div>
</div>

{% endblock content_body %}


{% block extra_scripts %}
<script type="text/javascript">
  document.querySelector("#tab_{{ filtered_status }}").classList.add('text-red-600', 'bg-red-200');
</script>
{% endblock %}
